<!DOCTYPE html> 
<html>
  <head>
    <title>Bowler</title>
  </head>
  <body>
    <h1>Is a bowling alley</h1>
    <h2>We are a bowling alley</h2>
    <p>1221 Thisabowlingalley pl. Las Vegas, NV 89123</p>
  </body>
</html>